.input-header {
    display:flex;
    justify-content:flex-start;
    align-items: flex-start;
    /* margin: 10px; */
    border:2px solid #eee;
    /* border-radius:7px;  */
    background-color: #eee;
    align-items:center;
    margin-left:2rem;
    margin-right: 10px;
    /* width:60vw; */
    min-width: 226px;
}
.head-top{
    width: 60vw;
    min-width: 226px;
    /* background-color: #eee; */
}
@media only screen and (max-width: 686px) {
    .input-header{
       margin-left: 1rem;
    }
    .head-top {
        width: 50vw;
        min-width: 226px;
    }
}
@media only screen and (max-width: 500px){
    /* .input-header{
        margin-left: 0.5rem;
        margin-right: 20px;
        min-width: 226px;
    }
    .head-top {
        min-width: 226px;
    } */
    /* .head-top{
        width: 80vw;
    } */
}
@media only screen and (max-width: 500px){
    .input-header{
        margin: 10px;
        width: 100%;
        /* justify-content: center; */
    }
    .head-top{
        display: flex;
        justify-content: center;
        width: 88%;
    }
}