body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 250px;
  background-color: #BFCFE7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  border: 0px;
  background-color: white;
  color: grey;
  font-style: bold;
  margin: 10px;
  padding: 7px;
}
@media only screen and (max-width: 500px){
  .btn {
      display: none;
  }
}
/* * {
  
} */